; Make sure that the network-online.target actually waits for network
; systemctl is-enabled NetworkManager-wait-online.service
; systemctl is-enabled systemd-networkd-wait-online.service
; If your setup uses either and it is disabled
; sudo systemctl enable [your setup]-wait-online.service

[Unit]
Description=autofill upload service
Wants=network-online.target
After=network-online.target


[Service]
Type=simple

; Change these 3 lines
WorkingDirectory=/home/wipkat/projects/python-upload-template
ExecStartPre=/bin/sh /home/wipkat/projects/python-upload-template/qos-enable.sh
ExecStart=/usr/bin/python3 /home/wipkat/projects/python-upload-template/upload-service.py

User=root
Restart=on-failure
RestartSec = 5
KillMode=process

[Install]
WantedBy=multi-user.target
